<a href="https://colab.research.google.com/github/Srivastava-Rani-Aakanksha/NLP-Project-Abstractive-Text-Summarization-/blob/main/NLP1_(%23Rammandir).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Self created dataset - #RamMandir

In [ ]:
import pandas as pd
import numpy as np

# New Section

In [ ]:
!ls

dataset1.csv  dataset_twitter-scraper_2023-02-28_18-35-00-405.csv  sample_data
dataset.csv   drive

In [ ]:
data=pd.read_csv('dataset_twitter-scraper_2023-02-28_18-35-00-405.csv')

In [ ]:
data.head()

,conversation_id,created_at,favorite_count,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,...,user_mentions/21/id_str,user_mentions/21/name,user_mentions/21/screen_name,user_mentions/22/id_str,user_mentions/22/name,user_mentions/22/screen_name,user_mentions/23/id_str,user_mentions/23/name,user_mentions/23/screen_name,view_count
0,1630605619920093202,2023-02-28T16:27:29.000Z,0,On the first day of the world book fair held a...,ramcharitmanas,TeamLostTemples,Ayodhya,rammandir,jaishreeram,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
1,1630595870940069888,2023-02-28T15:48:45.000Z,0,Days 933 and 934 of tweeting everyday until th...,RamMandirAyodhya,JaiShreeRam,RamMandir,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
2,1630568507837390850,2023-02-28T14:00:01.000Z,0,हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...,Reportdailybulletin,charchitkhabarmedia,digitalmedia,NewsBulletin,Nagpur,Gondiya,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
3,1630537337989128192,2023-02-28T11:56:09.000Z,0,The Beauty of Hindu Swaraj\n#Hindus #sanatan #...,Hindus,sanatan,NewsUpdate,BreakingNews,RamMandir,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,1630524569533415424,2023-02-28T11:05:25.000Z,4,लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...,lakhisarai,Rammandir,Bihar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0

In [ ]:
data.shape

(629, 181)

In [ ]:
data=data.drop(['conversation_id','created_at','favorite_count'],axis=1)

In [ ]:
data.head()

,full_text,hashtags/0,hashtags/1,hashtags/2,hashtags/3,hashtags/4,hashtags/5,hashtags/6,hashtags/7,hashtags/8,...,user_mentions/21/id_str,user_mentions/21/name,user_mentions/21/screen_name,user_mentions/22/id_str,user_mentions/22/name,user_mentions/22/screen_name,user_mentions/23/id_str,user_mentions/23/name,user_mentions/23/screen_name,view_count
0,On the first day of the world book fair held a...,ramcharitmanas,TeamLostTemples,Ayodhya,rammandir,jaishreeram,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
1,Days 933 and 934 of tweeting everyday until th...,RamMandirAyodhya,JaiShreeRam,RamMandir,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
2,हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...,Reportdailybulletin,charchitkhabarmedia,digitalmedia,NewsBulletin,Nagpur,Gondiya,Rammandir,PoddareshwarRamMandir,NMC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
3,The Beauty of Hindu Swaraj\n#Hindus #sanatan #...,Hindus,sanatan,NewsUpdate,BreakingNews,RamMandir,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...,lakhisarai,Rammandir,Bihar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0

In [ ]:
data.shape

(629, 178)

In [ ]:
data=data.drop(data.iloc[:, 3:], axis=1)

In [ ]:
data.shape

(629, 3)

In [ ]:
data.head()

,full_text,hashtags/0,hashtags/1
0,On the first day of the world book fair held a...,ramcharitmanas,TeamLostTemples
1,Days 933 and 934 of tweeting everyday until th...,RamMandirAyodhya,JaiShreeRam
2,हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...,Reportdailybulletin,charchitkhabarmedia
3,The Beauty of Hindu Swaraj\n#Hindus #sanatan #...,Hindus,sanatan
4,लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...,lakhisarai,Rammandir

In [ ]:
data=data.drop(data.iloc[:,1:],axis=1)

In [ ]:
data.head()

                                           full_text
0  On the first day of the world book fair held a...
1  Days 933 and 934 of tweeting everyday until th...
2  हजारों दीपों से जगमगाएगा श्री पोद्दारेश्वर राम...
3  The Beauty of Hindu Swaraj\n#Hindus #sanatan #...
4  लखीसराय जिला के चानन कजरा की पहाड़ियों में राज...

In [ ]:
data.shape
data.to_csv("dataset3.csv")

In [ ]:
import pickle

In [ ]:
import nltk
import re
nltk.download('stopwords')
nltk.download('omw-1.4')
# nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

ob=PorterStemmer()
lt=WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
def lower_case(text):
    text_l=text.lower()
    #print(text)
    return text_l

In [ ]:
def remove_links(text):
   # Remove all the occurrences of text that ends with .https and .com
  remove_https = re.sub(r'http\S+', '', text)
  remove_com = re.sub(r"\[A-Za-z]*\.com", "", remove_https)
  return remove_https

In [ ]:
def remove_hashtags(text):
  # Remove all hashtags
  remove_hashtags =re.sub("#[A-Za-z0-9_]+","", text)
  remove_hashtags_c =re.sub("@[A-Za-z0-9_]+","", remove_hashtags )
  return remove_hashtags_c

In [ ]:
def processing(text):
    #text=regularization(text)
    text=remove_links(text)
    text=lower_case(text)
    text=remove_hashtags(text)
    #text=tokenize(text)
    #print(text)
    # text=removestopword(text)
    # text=stemming(text)
    # text=" ".join(text)
    return text

In [ ]:
processing("How https://www.freecodecamp.org/news/python-web-scraping-tutorial/ #tree #rammm @rammm")

'how    '

In [ ]:
processed_data=[]
for i in range(len(data)):
      processed_data.append(processing(data['full_text'][i]))

In [ ]:
processed_data[10]

'मेरे #घर पर #परिवार का #राममंदिर, श्रीरामदरबार\nमाता सीता,श्रीराम,लक्ष्मण,हनुमान,ठाकुर जी \nजहां मेरे बाबा, मेरे पापा व परिवार दशकों से पूजा करते रहे है।\n\n \n  '

In [ ]:
# clone original repo and install dependencies
# git clone https://github.com/irshadbhat/indic-trans.git
# or
!git clone https://github.com/libindic/indic-trans.git

%cd indic-trans
!pip install -r requirements.txt
!pip install .

%cd

Cloning into 'indic-trans'...
remote: Enumerating objects: 2225, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 2225 (delta 8), reused 10 (delta 3), pack-reused 2206
Receiving objects: 100% (2225/2225), 516.51 MiB | 18.75 MiB/s, done.
Resolving deltas: 100% (1102/1102), done.
Updating files: 100% (719/719), done.
/content/indic-trans
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pbr
  Downloading pbr-5.11.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.7/112.7 KB 5.2 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 3)) (0.16.0)
Requirement already satisfied: cython>=0.24.0a0 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 4)) (0.29.33)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 5)) (1.22.4)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 6)) (1.7.3)
Installing collected packages: pbr
Successfully installed pbr-5.11.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Processing /content/indic-trans
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from indictrans==1.2.3) (0.16.0)
Requirement already satisfied: cython>=0.24.0a0 in /usr/local/lib/python3.8/dist-packages (from indictrans==1.2.3) (0.29.33)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from indictrans==1.2.3) (1.15.0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.8/dist-packages (from indictrans==1.2.3) (1.7.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from indictrans==1.2.3) (1.22.4)
Requirement already satisfied: pbr in /usr/local/lib/python3.8/dist-packages (from indictrans==1.2.3) (5.11.1)
Building wheels for collected packages: indictrans
  Building wheel for indictrans (pyproject.toml) ... done
  Created wheel for indictrans: filename=indictrans-1.2.3-cp38-cp38-linux_x86_64.whl size=337642906 sha256=f0563ff092473d33447fb1b0404eefd2caee53f0262ee10254e5db976919d4aa
  Stored in directory: /root/.cache/pip/wheels/71/8f/62/69993adcb1ff23516aef7040e04687ac6acfb32ffa0d559ce6
Successfully built indictrans
Installing collected packages: indictrans
Successfully installed indictrans-1.2.3
/root

In [ ]:
# build_lookup saves time for big corpus. Transliterate hindi text into english
from indictrans import Transliterator
trn = Transliterator(source='hin', target='eng', build_lookup=True)

In [ ]:
#for i in range(len(processed_data)):
eng_target=trn.transform(processed_data[10])
print(eng_target)

mere #ghar par #parivaar kaa #ramamandir, shriramdrabar
mata sita,shriram,lakshmana,hanuman,thakur ji
jahaan mere baba, mere papa va parivaar dashakon se puja karte rahe he.

In [ ]:
eng_target = trn.transform(processed_data)
print(eng_target)

TypeError: ignored